@{
  
    Layout = null; 
    
    
    
        
}

@model ONE.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    
    <title>登录—— 一个博客</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet/buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet/login.css">
</head>
<body >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Blog/Index">一个博客</a>
        </div>
    </nav>

    <div class="container" >
        <form class="form-signin" action="/Home/Login" method="post">
            <h2 class="form-signin-heading">登录</h2>
            <label class="sr-only" for="inputEmail">邮箱</label>
            @*<input class="form-control" id="inputEmail" type="email" placeholder="邮箱" required autofocus></input>*@

            @Html.TextBoxFor(m => m.注册邮箱, new { type = "email", @class = "form-control", id = "inputEmail", placeholder = "邮箱"})
            @Html.ValidationMessageFor(m => m.注册邮箱)
            <label class="sr-only" for="inputPassword"></label>
            @*<input class="form-control" id="inputPassword" type="password" placeholder="密码" required></input>*@

            @Html.TextBoxFor(m => m.密码, new { type = "password", @class = "form-control", id = "inputPassword", placeholder = "密码" })

            @Html.ValidationMessageFor(m => m.密码)
          

            <div>
                @Html.TextBoxFor(m => m.验证码, new { type = "text", @class = "form-control", placeholder = "验证码" })

                <br />
                @Html.ValidationMessageFor(m => m.验证码)
                <img src="/Common/GetImage" />
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <div class="register">
                <a href="#">忘记密码</a> 或者 <a href="/Home/Register">注册账号</a>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/Content/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/jquery.min.js"></script>
</body>
</html>


